<h1>Demo#index</h1>

<p>Hello from the Index Page!</p>

<!-- example of a different way to do hrefs with embedded ruby-this takes advantage of routing -->
<%= link_to('Go back to the hello page', {:action => 'hello', :id => 20, :page => 5})%>
